.venv/
venv/
__pycache__/
.ipynb_checkpoints/
models/
outputs/
*.zip
desktop.ini
datasets/
*.csv
# Ignore NumPy binary data matrices
*.npy
# Ignore generated audio feature matrices
emotion2vec_embeddings/
documents(private)/
