.venv/
venv/
__pycache__/
.ipynb_checkpoints/
models/
outputs/
*.zip
desktop.ini
data/
*.csv
# Ignore NumPy binary data matrices
*.npy

# Ignore system/IDE configurations
__pycache__/
.ipynb_checkpoints/